* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fffaf7;
  color: #333;
  margin-top: 25px;
}


.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: white;
  flex-wrap: wrap;
  gap: 30px;
  max-height: 500px;
}

.maintext {
  max-width: 600px;
}

.maintext h1 {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
  font: bold;

}

.maintext h2 {
  font-size: 30px;
  color: #ff6600;
  margin-bottom: 15px;
}

.maintext p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  font: bold;
}


.main img {
 height: 420px;
  width: 500px;
  border-radius: 10px;
   object-fit: cover;

}

.cloth {
  padding: 60px 40px;
}

.head {
  text-align: center;
  margin-bottom: 40px;
}

.head h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.head span {
  color: #ff6600;
}

.card,
.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.add-cart-btn {
    display: inline-block;
    margin-left: 10px;
    padding: 6px 12px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
    font-size: 14px;
}

.add-cart-btn:hover {
    background-color: #e65c00;
}

.trend {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.trend:hover {
  transform: translateY(-5px);
}

.trend img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.trend .text {
  padding: 15px;
  text-align: center;
}

.trend .text p {
  font-size: 16px;
  color: #444;
  margin-bottom: 8px;
}

.trend .text h2 {
  font-size: 18px;
  color: #222;
}

.trend .text button {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.trend .text button:hover {
  background-color: #e65c00;
}


@media (max-width: 768px) {
  .main {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .main img {
    max-width: 100%;
  }

  .trend {
    width: 90%;
  }

  .card,
  .cart {
    flex-direction: column;
    align-items: center;
  }
}
